---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.jsx';
import '../styles/global.css';
---
<Layout>
  <main class="bg-white text-gray-900"> <!-- bg-white (page background), text-gray-900 (text color) -->
    <Hero />
  </main>
</Layout>
