---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---

<Layout title="Resume">
  <main class="flex justify-start max-w-4xl mx-auto px-6 pt-40">
    <div class="flex flex-col">
      <p class="text-lg" style="color: var(--color-text-secondary)">
        Coming soon
      </p>
    </div>
  </main>
</Layout>
