---
import Header from '../components/Header.jsx';
import Footer from '../components/Footer.jsx';

interface Props {
	title?: string;
	description?: string;
}

const { title = 'Batuhan Buber', description = 'Computer Engineer - Designer - Developer' } = Astro.props;
const pageTitle = title === 'Batuhan Buber' ? title : `${title} | Batuhan Buber`;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="description" content={description} />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header client:load />
		<main class="main-content">
			<slot />
		</main>
		<Footer client:load />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

	.main-content {
		padding-bottom: 4rem;
		min-height: calc(100vh - 80px);
	}
</style>
